

.amountInput {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: OpenSans;
}

.amountInput div{
    text-align: center;
}

.amountInput div input{
    width: 90%;
}

h3{
    font-family: OpenSans;
}

h4{
    margin: 20px 0 20px 0;
}

.resultOutput {
    width: 100%;
    text-align: center;
}

.resultOutput h4 {
    font-size: 140px;
    font-family: OpenSans;
}

.invertFormButton {
    border: 2px solid #6c757d;
    background: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.buttonContainer {
    margin: 20px 0 20px 0;
    width: 100%;
    text-align: center;
}

.widthCard {
    margin:10px 0 20px 0;
    width: 225px;
    cursor: pointer;
}

.widthCard:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.beerImage {
    margin-bottom: .75rem 1.25rem;
    border-radius: 25rem;
}

.cardRow {
    width: 100%;
    text-align: center;
}