<div class="d-flex justify-content-center">
    <div class="card bg-light widthCard" (click)="showListOfBeers()">
        <div class="card-header text-center">
            <img src={{beer.image}} width="150px" height="150px" class="beerImage">
            <h6>Cerveza: {{beer.beer}}</h6>
        </div>
    </div>
</div>
<div>
    <div *ngIf="amountToMoney; then amountToMoneyForm else moneyToAmountForm"></div>
    <ng-template #amountToMoneyForm>
        <div class="amountInput">
            <div>
                <label>{{beer.container}}:</label>
            </div>
            <div>
                <input [(ngModel)]="userBeerInput" appValidations placeholder="Cantidad" class="form-control" />
            </div>
        </div>
        
        <div class="buttonContainer">
            <button class="invertFormButton" (click)="toggleForm()">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </button>
        </div>

        <div class="resultOutput">
            <h4>{{userBeerInput*beer.price | number : '1.2-2'}}$</h4>
        </div>
    </ng-template>

    <ng-template #moneyToAmountForm>
        <div class="amountInput">
            <div>
                <label>Dinero($):</label>
            </div>
            <div>
                <input [(ngModel)]="userBeerInput" appValidations placeholder="Cantidad" class="form-control" />
            </div>
        </div>
        
        <div class="buttonContainer">
            <button class="invertFormButton" (click)="toggleForm()">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </button>
        </div>

        <div class="resultOutput">
            <h4>{{userBeerInput/beer.price | number : '1.2-2'}}</h4>
        </div>
    </ng-template>
</div>
<app-beer-list-modal #beerListModal (beerId)="beerHasBeenSelected($event)" [selectedBeerId]="beer.id"></app-beer-list-modal>
